body {
  font-family: "Times New Roman", Times, serif;
  background-color: lightgray;
}

h1 {
  color: rgb(243, 151, 31);
}

form {
  background-color: white;
  text-align: center;
  max-width: 350px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(18, 18, 214, 0.308);
}

#textBox {
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid rgba(70, 66, 66, 0.787);
  border-radius: 5px;
  margin-bottom: 15px;
}

label {
  font-size: 1.5em;
  font-weight: bold;
}

button {
  margin-top: 15px;
  background-color: aquamarine;
  font-size: 1.5 em;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: rgb(9, 115, 237);
}

#result {
  font-size: 1.75em;
  font-weight: bold;
}
